body {
    /* background-image: url("images/bggif.gif"); */
    background-image: url("CapitalUnconsciousFluke-max-1mb.gif");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container{
    background-image:none;
}
#myaudio
		{
			height:200px;
			width:200px;
          background-image:url("WhatsApp\ Image\ 2022-02-27\ at\ 3.33.38\ PM.jpeg");
			background-size:cover;
			position:relative;
            left:600px;
		}


.bodycenter {
    width: 50%;
    background-color: #ffffff;
    border-radius: 10px;
    background-image:url("CapitalUnconsciousFluke-max-1mb.gif")/* url("images/bggif.gif")*/;
}

.logoimg {
    margin-top: 30px;
    
    height: 120px;
    width: 50%;
}

.border-none {
    box-shadow: none!important;
    border-radius: 70px;
    height: 60px;
    border: 3px solid black!important;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.border-none:focus {
    border: 5px solid black!important;
}

.btn-primary {
    height: 60px !important;
    border-radius: 35px;
    width: 100%;
    background-color: #e09f03;
    border: none;
    font-size: 24px;
    font-family: 'Nerko One', cursive;
}

.btn-primary:hover {
    background-color: #e09f03;
}

.btn-primary:focus {
    box-shadow: none!important;
    border: none;
    background-color: #e09f03;
}

.btn-primary:active {
    box-shadow: none;
    background-color: #e09f03;
}

.scoreb {
    width: 90px;
    height: 90px;
    font-size: 45px;
    text-align: center;
    border-radius: 25px;
    cursor: none!important;
    color: white;
    font-family: 'Nerko One', cursive;
}

#won {
    background-color: #009F2E;
}

#lose {
    background-color: #c70039;
}


#chance {
    text-align: center;
    background-color: #2399c6;
    /* color: #2399c6; */
}


.imgbg {
    background-image: url("images/giphy.gif");
}

#end {
    position: absolute;
    top: -350px;
    display: none;
}

#result {
    font-family: 'Nerko One', cursive;
    display: none;
}
.audio
		{
			height:100px;
			width:100px;
          
			
		}

.restart {
    
    width: 40%;
    text-align: center;
    background: red;
    cursor: pointer!important;
    outline: none!important;
}

.fheading {
    font-family: 'Nerko One', cursive;
}

.hidden {
    display: none;
}